<section class="container mx-auto px-4 py-5">
    @if(productDetails) {
    <div>
        <div class="grid grid-cols-1 md:grid-cols-[30%_70%] items-center bg-white dark:bg-gray-800">
            <img class="object-contain w-full md:w-50 md:mx-auto h-96 md:h-auto" [src]="productDetails.imageCover"
                [alt]="productDetails.title">
            <div class="flex flex-col justify-between p-4 leading-normal items-start">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-main-green dark:text-white">
                    {{productDetails.title | titlecase}}</h5>
                <h5 class="mb-2 text-[16px] font-bold tracking-tight text-black dark:text-white">
                    {{productDetails.category.name}}</h5>
                <h5 class="mb-2 text-[14px] font-bold tracking-tight text-black dark:text-white">
                    {{productDetails.brand.name}}</h5>
                <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">{{productDetails.description}}</p>
                <h5 class="mb-2 text-[12px] font-medium tracking-tight text-gray-500 dark:text-white">
                    Published at {{productDetails.createdAt | date}}
                </h5>
                <h5 class="mb-2 text-[12px] font-medium tracking-tight text-gray-500 dark:text-white">
                    Updated at {{productDetails.updatedAt | date}}
                </h5>
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-black dark:text-white">
                    {{productDetails.price | currency : "£"}}</h5>
                <div class="flex items-center mt-2.5 mb-5">
                    <div class="flex items-center space-x-1 rtl:space-x-reverse">
                        <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                    </div>
                    <span
                        class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 dark:bg-blue-200 dark:text-blue-800 ms-3">{{productDetails.ratingsAverage}},
                        {{productDetails.sold}}</span>
                </div>
                <div (click)="addProductToCart(productDetails._id)"
                    class="text-white mt-4 bg-main-green hover:bg-gray-500 font-medium rounded-sm text-sm px-5 py-2.5 text-center dark:bg-main-green dark:hover:bg-main-green duration-300 hover:cursor-pointer">
                    Add
                    to cart</div>
            </div>
        </div>
    </div>
    }
</section>