<section class="container mx-auto py-5 px-5 lg:px-10">
    <div class="grid w-full lg:w-[100%] xl:w-[70%] mx-auto grid-cols-1 lg:grid-cols-[60%_40%] items-center">
        <form class="py-10 pe-10" [formGroup]="registerForm" (ngSubmit)="submitForm()">
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="name" id="name"
                    class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-black peer"
                    placeholder=" " formControlName="name" />
                <label for="name"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 z-20 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-black peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Username</label>
                @let nameControl = registerForm.get('name');
                @if(nameControl?.errors && nameControl?.touched){
                <div id="alert-border-2"
                    class="flex items-center py-2 text-red-800 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800"
                    role="alert">
                    <svg class="shrink-0 inline w-4 h-4 ms-2 mt-[2px]" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                    </svg>
                    <div class="ms-2 text-sm">
                        @if(nameControl?.getError("required")){
                        <p>Username is required</p>
                        }
                        @if(nameControl?.getError("minlength")){
                        <p>Username must be at least 3 characters</p>
                        }
                        @if(nameControl?.getError("maxlength")){
                        <p>Username must be less than 15 characters</p>
                        }
                    </div>
                </div>
                }
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="email" name="enail" id="enail"
                    class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-black peer"
                    placeholder=" " formControlName="email" />
                <label for="enail"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
                    address</label>

                @let emailControl = registerForm.get('email');
                @if(emailControl?.errors && emailControl?.touched){
                <div id="alert-border-2"
                    class="flex items-center py-2 text-red-800 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800"
                    role="alert">
                    <svg class="shrink-0 inline w-4 h-4 ms-2 mt-[2px]" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                    </svg>
                    <div class="ms-2 text-sm">
                        @if(emailControl?.getError("required")){
                        <p>Email is required</p>
                        }
                        @if(emailControl?.getError("email")){
                        <p>Email is invalid</p>
                        }
                    </div>
                </div>
                }
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="password" name="password" id="password"
                    class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-black peer"
                    placeholder=" " formControlName="password" />
                <label for="password"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 z-20 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-black peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>

                @let passwordControl = registerForm.get('password');
                @if(passwordControl?.errors && passwordControl?.touched){
                <div id="alert-border-2"
                    class="flex items-center py-2 text-red-800 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800"
                    role="alert">
                    <svg class="shrink-0 inline w-4 h-4 ms-2 mt-[2px]" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                    </svg>
                    <div class="ms-2 text-sm">
                        @if(passwordControl?.getError("required")){
                        <p>Password is required</p>
                        }
                        @if(passwordControl?.getError("pattern")){
                        <p>Password must start with capital character and at least be 6 characters</p>
                        }
                    </div>
                </div>
                }
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="password" name="rePassword" id="rePassword"
                    class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-black peer"
                    placeholder=" " formControlName="rePassword" />
                <label for="rePassword"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 z-20 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-black peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirm
                    password</label>

                @let rePasswordControl = registerForm.get('rePassword');
                @if((registerForm.getError("mismatch") || rePasswordControl?.errors) && (rePasswordControl?.touched)){
                <div id="alert-border-2"
                    class="flex items-center py-2 text-red-800 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800"
                    role="alert">
                    <svg class="shrink-0 inline w-4 h-4 ms-2 mt-[2px]" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                    </svg>
                    <div class="ms-2 text-sm">
                        @if(rePasswordControl?.getError("required")){
                        <p>Password is required</p>
                        }
                        @else {
                        <p>Password doesn't match</p>
                        }
                    </div>
                </div>
                }
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="tel" name="phoneNumber" id="phoneNumber"
                    class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-black peer"
                    placeholder=" " formControlName="phoneNumber" />
                <label for="phoneNumber"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 z-20 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-black peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone
                    number (+20 1000-000-000)</label>

                @let phoneNumberControl = registerForm.get('phoneNumber');
                @if(phoneNumberControl?.errors && phoneNumberControl?.touched){
                <div id="alert-border-2"
                    class="flex items-center py-2 text-red-800 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800"
                    role="alert">
                    <svg class="shrink-0 inline w-4 h-4 ms-2 mt-[2px]" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                    </svg>
                    <div class="ms-2 text-sm">
                        @if(phoneNumberControl?.getError("required")){
                        <p>Phone Number is required</p>
                        }
                        @if(phoneNumberControl?.getError("pattern")){
                        <p>Phone Number is invalid</p>
                        }
                    </div>
                </div>
                }
            </div>

            <button type="submit"
                class="text-white bg-main-green hover:bg-gray-500 focus:outline-none cursor-pointer rounded-sm text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-main-green dark:hover:bg-main-green transition">
                Register
                @if(isLoadingSubmission) {
                <i class="fa-solid fa-spinner fa-spin fa-spin-reverse ms-1"></i>
                }
            </button>
            @if(errorSubmissionMsg){
            <div id="alert-border-2"
                class="flex items-center py-2 mt-2 rounded-sm text-red-800 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800"
                role="alert">
                <div class="ms-2 text-sm">
                    <p>{{errorSubmissionMsg}}</p>
                </div>
            </div>
            }
            @if(successSubmissionMsg){
            <div id="alert-border-2"
                class="flex items-center py-2 mt-2 rounded-sm text-main-green bg-gray-100 dark:text-main-green dark:bg-gray-800"
                role="alert">

                <div class="ms-2 text-sm">
                    <p>{{successSubmissionMsg}}</p>
                </div>
            </div>
            }
            <p class="text-[14px] mt-3 font-normal text-gray-500">Already have an account? <span
                    class="text-blue-500 underline cursor-pointer" routerLink="/login">Sign In Now</span></p>
        </form>
        <div class="hidden overflow-hidden lg:block">
            <img src="hero-img-slider-2.jpg" class="w-full object-cover" alt="">
        </div>
    </div>

</section>