<nav class="bg-gray-100 dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
    <div class="container flex flex-wrap items-center justify-between mx-auto p-4">
        @if(isLoggedIn()){
        <a routerLink="home" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/shopping-cart.png" class="h-8" alt="Flowbite Logo">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">FreshCart</span>
        </a>
        }
        @else {
        <a routerLink="login" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/shopping-cart.png" class="h-8" alt="Flowbite Logo">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">FreshCart</span>
        </a>
        }
        <div class="flex items-center lg:order-2 space-x-1 lg:space-x-0 rtl:space-x-reverse">
            @if(isLoggedIn()) {
            <button routerLink="cart" routerLinkActive="text-main-green dark:text-main-green"
                class="block relative bg-gray-100 lg:ms-1 cursor-pointer font-medium py-2 px-3 rounded-sm text-black dark:text-white dark:bg-gray-700 hover:text-gray-400 transition"
                type="button">
                <div
                    class="absolute top-0 right-0 size-[20px] font-medium text-[14px] text-white bg-red-600 p-1 rounded-full flex justify-center items-center">
                    <span>{{cartNumber}}</span>
                </div>
                <i class="fa-solid fa-cart-shopping text-2xl"></i>
            </button>
            <button routerLink="wishlist" routerLinkActive="text-main-green dark:text-main-green"
                class="block relative bg-gray-100 lg:ms-1 cursor-pointer font-medium py-2 px-3 rounded-sm text-black dark:text-white dark:bg-gray-700 hover:text-gray-400 transition"
                type="button">
                <div
                    class="absolute top-0 right-0 size-[20px] font-medium text-[14px] text-white bg-red-600 p-1 rounded-full flex justify-center items-center">
                    <span>{{wishlistNumber}}</span>
                </div>
                <i class="fa-solid fa-heart text-2xl"></i>
            </button>
            <button data-modal-target="popup-modal" data-modal-toggle="popup-modal"
                class="block bg-gray-100 lg:ms-1 cursor-pointer font-medium py-2 px-3 rounded-sm text-black dark:text-white dark:bg-gray-700 hover:text-gray-400 transition"
                type="button">
                Sign out
            </button>
            }
            <input type="checkbox" class="hidden" id="modeBtn" #modeBtn>
            <label for="modeBtn" (click)="handleClick()"
                class="text-white cursor-pointer size-[40px] p-2.5 ms-1 bg-gray-100 hover:bg-gray-200 rounded-full font-medium text-sm text-center dark:bg-gray-900 dark:hover:bg-gray-700">
                <img src={{modeIcon}} alt="dark/light mode icon">
            </label>
            <button data-collapse-toggle="navbar-sticky" type="button"
                class="inline-flex items-center cursor-pointer transition p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700"
                aria-controls="navbar-sticky" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>
        <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="navbar-sticky">
            @if(isLoggedIn()) {
            <ul
                class="flex flex-col p-4 lg:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 lg:space-x-8 rtl:space-x-reverse lg:flex-row lg:mt-0 lg:border-0 lg:bg-gray-100 dark:bg-gray-800 lg:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a routerLink="home"
                        routerLinkActive="text-white bg-main-green hover:bg-main-green lg:text-main-green lg:hover:text-main-green lg:bg-transparent dark:bg-main-green dark:hover:bg-main-green lg:dark:bg-transparent lg:dark:text-main-green"
                        class="block py-2 px-3 rounded-sm lg:p-0 text-black hover:bg-gray-100 lg:hover:bg-transparent lg:hover:text-gray-400 dark:text-white dark:hover:bg-gray-700 lg:dark:hover:bg-transparent lg:dark:bg-transparent transition"
                        aria-current="page">Home</a>
                </li>
                <li>
                    <a routerLink="products"
                        routerLinkActive="text-white bg-main-green hover:bg-main-green lg:text-main-green lg:hover:text-main-green lg:bg-transparent dark:bg-main-green dark:hover:bg-main-green lg:dark:bg-transparent lg:dark:text-main-green"
                        class="block py-2 px-3 rounded-sm lg:p-0 text-black hover:bg-gray-100 lg:hover:bg-transparent lg:hover:text-gray-400 dark:text-white dark:hover:bg-gray-700 lg:dark:hover:bg-transparent lg:dark:bg-transparent transition"
                        aria-current="page">Products</a>
                </li>
                <li>
                    <a routerLink="categories"
                        routerLinkActive="text-white bg-main-green hover:bg-main-green lg:text-main-green lg:hover:text-main-green lg:bg-transparent dark:bg-main-green dark:hover:bg-main-green lg:dark:bg-transparent lg:dark:text-main-green"
                        class="block py-2 px-3 rounded-sm lg:p-0 text-black hover:bg-gray-100 lg:hover:bg-transparent lg:hover:text-gray-400 dark:text-white dark:hover:bg-gray-700 lg:dark:hover:bg-transparent lg:dark:bg-transparent transition"
                        aria-current="page">Categories</a>
                </li>
                <li>
                    <a routerLink="brands"
                        routerLinkActive="text-white bg-main-green hover:bg-main-green lg:text-main-green lg:hover:text-main-green lg:bg-transparent dark:bg-main-green dark:hover:bg-main-green lg:dark:bg-transparent lg:dark:text-main-green"
                        class="block py-2 px-3 rounded-sm lg:p-0 text-black hover:bg-gray-100 lg:hover:bg-transparent lg:hover:text-gray-400 dark:text-white dark:hover:bg-gray-700 lg:dark:hover:bg-transparent lg:dark:bg-transparent transition"
                        aria-current="page">Brands</a>
                </li>
                <li>
                    <a routerLink="allorders"
                        routerLinkActive="text-white bg-main-green hover:bg-main-green lg:text-main-green lg:hover:text-main-green lg:bg-transparent dark:bg-main-green dark:hover:bg-main-green lg:dark:bg-transparent lg:dark:text-main-green"
                        class="block py-2 px-3 rounded-sm lg:p-0 text-black hover:bg-gray-100 lg:hover:bg-transparent lg:hover:text-gray-400 dark:text-white dark:hover:bg-gray-700 lg:dark:hover:bg-transparent lg:dark:bg-transparent transition"
                        aria-current="page">Orders</a>
                </li>
            </ul>
            }
            @else {
            <ul
                class="flex flex-col p-4 lg:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 lg:space-x-8 rtl:space-x-reverse lg:flex-row lg:mt-0 lg:border-0 lg:bg-gray-100 dark:bg-gray-800 lg:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a routerLink="login"
                        routerLinkActive="text-white bg-main-green hover:bg-main-green lg:text-main-green lg:hover:text-main-green lg:bg-transparent dark:bg-main-green dark:hover:bg-main-green lg:dark:bg-transparent lg:dark:text-main-green"
                        class="block py-2 px-3 rounded-sm lg:p-0 text-black hover:bg-gray-100 lg:hover:bg-transparent lg:hover:text-gray-400 dark:text-white dark:hover:bg-gray-700 lg:dark:hover:bg-transparent lg:dark:bg-transparent transition"
                        aria-current="page">Login</a>
                </li>
                <li>
                    <a routerLink="register"
                        routerLinkActive="text-white bg-main-green hover:bg-main-green lg:text-main-green lg:hover:text-main-green lg:bg-transparent dark:bg-main-green dark:hover:bg-main-green lg:dark:bg-transparent lg:dark:text-main-green"
                        class="block py-2 px-3 rounded-sm lg:p-0 text-black hover:bg-gray-100 lg:hover:bg-transparent lg:hover:text-gray-400 dark:text-white dark:hover:bg-gray-700 lg:dark:hover:bg-transparent lg:dark:bg-transparent transition"
                        aria-current="page">Register</a>
                </li>
            </ul>
            }
        </div>
    </div>
</nav>