<footer class="bg-gray-100 dark:bg-gray-900 w-full py-8 px-4">
    <div class="mx-auto container flex flex-col gap-3">
        <h2 class="text-xl text-black dark:text-white font-medium">Get The FreshCart app</h2>
        <p class="text-[14px] text-gray-700 dark:text-gray-300">We will send you a link, open it on your phone to
            download the app</p>
        <div>
            <form class="flex gap-2">
                <div class="relative grow">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                            <path
                                d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
                            <path
                                d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
                        </svg>
                    </div>
                    <input type="text" id="email-address-icon"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-sm focus:ring-main-green focus:border-maring-main-green block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-main-green dark:focus:border-maring-main-green"
                        placeholder="name@flowbite.com">

                </div>
                <button
                    class="block py-2 px-3 rounded-sm bg-main-green text-white hover:text-gray-400 transition cursor-pointer">Get App Link</button>
            </form>
        </div>
        <div class="flex gap-4">
            <span class="text-gray-700 text-[14px] dark:text-gray-300">Payment Patterns</span>
            <div class="grid grid-cols-5 gap-2">
                <div>
                    <img src="/visa.svg" alt="">
                </div>
                <div>
                    <img src="/paypal.svg" alt="">
                </div>
                <div>
                    <img src="/mastercard.svg" alt="">
                </div>
                <div>
                    <img src="/amazonpay.svg" alt="">
                </div>
                <div>
                    <img src="/american-express.svg" alt="">
                </div>
            </div>
        </div>
        <div class="flex gap-4">
            <span class="text-gray-700 text-[14px] dark:text-gray-300">Get deliveries with FreshCart</span>
            <div class="grid grid-cols-2 gap-2">
                <div class="w-[100px]"><img src="/appstore-btn.svg" alt=""></div>
                <div class="w-[100px]"><img src="/googleplay-btn.svg" alt=""></div>
            </div>
        </div>
        <hr class="my-4 border-gray-300 dark:border-gray-900" />
        <div class="flex gap-1 mx-auto">
            <div
                class="size-[30px] p-2 bg-white dark:bg-gray-700 flex justify-center items-center rounded-full cursor-pointer hover:text-gray-400 transition dark:text-white">
                <i class="fa-brands fa-facebook-f"></i></div>
            <div
                class="size-[30px] p-2 bg-white dark:bg-gray-700 flex justify-center items-center rounded-full cursor-pointer hover:text-gray-400 transition dark:text-white">
                <i class="fa-brands fa-whatsapp"></i></div>
            <div
                class="size-[30px] p-2 bg-white dark:bg-gray-700 flex justify-center items-center rounded-full cursor-pointer hover:text-gray-400 transition dark:text-white">
                <i class="fa-brands fa-instagram"></i></div>
        </div>
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a
                href="https://flowbite.com/" class="hover:underline">FreshCart</a>. All Rights Reserved.</span>
    </div>
</footer>



<!-- <footer>
    <h3></h3>
    <p></p>
    <div>
        <div>
            <input type="email" name="email" id="email" placeholder="Email..">
        </div>
        <div>
            <button>
                Share App Link
            </button>
        </div>
    </div>
    <div>
        <div>
            <span>Payment Patterns</span>

        </div>
        
    </div>
</footer> -->